/* Universal Settings */
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/* Header Section */
.head-container {
    display: flex;
    height: 53px;
    border-bottom: 1px solid gray;
}

.logo-container img {
    width: 75px;
    height: 50px;
    padding-left: 10px;
}

.nav-container {
    padding-left: 35px;
}

.nav-container ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.nav-container li {
    display: inline-block;
    margin: 0 35px;
    padding-top: 13px;
}

.nav-container a {
    text-decoration: none;
    color: #444;
    text-transform: uppercase;
}

.nav-container a:hover {
    color: black;
}

/* Mission Section */
.banner-container {
    background-image: url(../Images/mission\ banner.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 400px;
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.name p {
    font-size: 2em;
}

.name, .mission {
    color: white;
    text-align: center;
}

.mission {
    width: 500px;
    font-size: 1.25em;
}

/* Services Section */
.subtitle {
    padding-top: 100px;
}

.subtitle p {
    text-align: center;
    font-size: 2em;
}

.service-container {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 100px;
}

.services p{
    text-align: center;
    font-size: 1.35em;
    color:rgb(112, 111, 111);
}

.services p:hover{
    color: black;
}

/* Our Team Section */
.our-team-container {
    background-image: url(../Images/gameover.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 500px;
}

.our-team {
    text-align: center;
    font-size: 2em;
    color: white;
    padding-top: 5px;
}
.team-container {
    display: flex;
    justify-content: space-evenly;
}

.team-member p {
    color: white;
    text-align: center;
    font-weight: bold;
}

/* Footer Section */
.contact-container {
    padding-top: 50px;
}

.contact-subtitle {
    font-size: 2em;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact {
    text-align: center;
    align-content: center;
}

.copyright p {
    text-align: right;
    font-size: 0.8em;
}